// PRIMARY COLORS
@introEmailBackground: hsl(217, 28%, 15%);
@mainBackground: hsl(218, 28%, 13%);
@footerBackground: hsl(216, 53%, 9%);
@testimonialsBackground: hsl(219, 30%, 18%);

// ACCENT COLORS
@cyan: hsl(176, 68%, 64%);
@blue: hsl(198, 60%, 50%);
@lightRed: hsl(0, 100%, 63%);

// NEUTRAL COLORS
@white: hsl(0, 0%, 100%);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
	color: @white;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.rw1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.rw2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.os1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.os2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

// MOBILE FIRST APPROACH
// FOLLOWING THE FIGMA FILE FOR PIXEL PERFECT POSITIONING
body {
	background-color: @introEmailBackground;
}

nav {
	padding-top: 24px;
	padding-left: 20px;
	padding-right: 24px;
	background-color: @introEmailBackground;
	display: flex;
	justify-content: space-between;

	img {
		width: 80px;
		height: 24px;
		display: block;
	}

	ul {
		display: flex;
		gap: 24px;
		color: @white;
		.rw1;
		list-style: none;
		font-size: 12px;
		align-items: center;

		li {
			cursor: pointer;
			transition: 0.15s;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

main {
	background-color: @mainBackground;
}


#sect1 {
	padding-top: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: @introEmailBackground;
	background-image:url(images/bg-curvy-mobile.svg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;

	img {
		display: block;
		width: 304px;
		height: 225px;
	}

	h1 {
		.rw2;
		padding-top: 33px;
		font-size: 24px;
		line-height: 36px;
		width: 320px;
	}

	p {
		.os1;
		font-size: 14px;
		line-height: 21px;
		padding-top: 15px;
		width: 296px;
	}

	button {
		.rw2;
		font-size: 14px;
		line-height: 16px;
		color: @white;
		padding: 16px 81px;
		border-radius: 24px;
		border: none;
		background: linear-gradient(134.79deg, @cyan -42.11%, @blue 100%);
		box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
		margin-top: 32px;
		cursor: pointer;
	}
}

#sect2 {
	padding-top: 120px;
	padding-left: 27px;
	padding-right: 27px;
	display: flex;
	flex-direction: column;
	gap: 80px;

	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		.imgContainer {
				width: 80px;
				height: 80px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

		img {
			display: block;
		}

		h3 {
			.rw2;
			font-size: 18px;
			line-height: 24px;
			padding-top: 24px;
		}

		p {
			.os1;
			font-size: 14px;
			line-height: 21px;
			padding-top: 8px;
			width: 320px;
		}
	}
}

#sect3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 160px;

	img {
		display: block;
		width: 304px;
	}

	div {
		h3 {
			.rw2;
			font-size: 18px;
			line-height: 24px;
			padding-top: 48px;
		}
		
		p {
			.os1;
			font-size: 14px;
			line-height: 21px;
			padding-top: 16px;
			width: 320px;
		}

		span {
			display: flex;
			flex-direction: column;
			gap: 6px;
			padding-top: 16px;
			width: max-content;

			&::after {
				content: '';
				width: 100%;
				height: 1px;
				background-color: @cyan;
			}

			a {
					display: flex;
					gap: 7px;
					.os1;
					font-size: 12px;
					line-height: 16px;
					color: @cyan;
					text-decoration: none;
				}
			
			img {
				display: block;
				width: 12px;
				margin-top: auto;
				margin-bottom: auto;
			}

			&:hover {
				a {
					color: @white;
				}

				&::after {
					background-color: @white;
				}
			}
		}
		
	}
}

#sect4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 169px;
	padding-bottom: 337px;
	gap: 24px;

	#quotes {
		position: absolute;
		top: -9px;
		left: 0;
		display: block;
		width: 32px;
		z-index: 0;
	}

	.reviewCard {
		position: relative;
		z-index: 1;
		width: 280px;
		background: @testimonialsBackground;
		box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
		border-radius: 3.93258px;
		padding-top: 24px;
		padding-left: 24px;
		padding-right: 24px;
		padding-bottom: 21px;

		p {
			.os1;
			font-size: 10px;
			line-height: 18px;
		}

		.userContainer {
			display: flex;
			align-items: center;
			gap: 8px;
			padding-top: 17px;

			img {
				display: block;
				width: 24px;
				border-radius: 50%
			}

			.userInfo {

				b {
					.os2;
					font-size: 10px;
					line-height: 12px;
				}

				p {
					.os1;
					font-size: 7px;
					line-height: 10px;
				}
			}
			
			
		}
	}
}

#sect5 {
	position: absolute;
	display: flex;
	justify-content: center;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	top: -177px;

	.card {
		width: 336px;
		height: 353px;
		background-color: @introEmailBackground;
		box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
		border-radius: 9px;
		display: flex;
		flex-direction: column;
		text-align: center;
		padding-top: 40px;
		padding-bottom: 37px;
		padding-left: 28px;
		padding-right: 28px;

		b {
			.rw2;
			font-size: 18px;
			line-height: 24px;
		}

		p {
			.os1;
			font-size: 14px;
			line-height: 21px;
			padding-top: 16px;
		}

		input {
			height: 48px;
			width: 100%;
			border: none;
			outline: none;
			background: @white;
			box-shadow: 1px 1px 3px rgba(7, 4, 59, 0.157043);
			border-radius: 24px;
			padding-left: 29px;
			padding-right: 29px;
			padding-top: 19px;
			padding-bottom: 15px;
			.os1;
			font-size: 10px;
			line-height: 14px;
			color: #C0C0C0;
			margin-top: 32px;
		}

		button {
			height: 48px;
			width: 100%;
			border: none;
			background: linear-gradient(132.02deg, @cyan -31.85%, @blue 100%);
			box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
			border-radius: 24px;
			.rw2;
			color: @white;
			font-size: 14px;
			line-height: 16px;
			margin-top: 24px;
			cursor: pointer;

			&:hover {
					background: #8ADAE3;
				}
		}
	}
}

footer {
	width: 100%;
	position: relative;
	background-color: #0B1524;
	padding-top: 259px;
	padding-left: 28px;
	padding-right: 28px;
	padding-bottom: 52px;
	display: flex;
	justify-content: center;

	.container {
		width: 375px;
	}

	.logo {
		width: 108px;
		height: 31px;
	}

	.footerContent {
		display: flex;
		flex-direction: column;

		div:nth-child(1) {
			display: flex;
			gap: 16px;
			align-items: flex-start;
			padding-top: 35px;
	
			img {
				padding-top: 7px;
			}
	
			p {
				.os1;
				font-size: 16px;
				line-height: 24px;
			}
		}
	
		div:nth-child(2) {
			display: flex;
			flex-direction: column;
			padding-top: 16px;
			gap: 16px;

			span {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 14px;

				p {
					.os1;
					font-size: 14px;
					line-height: 21px;
				}
			}
		}

		ul {
			padding-top: 56px;
			.os1;
			list-style: none;
			font-size: 16px;
			line-height: 22px;
			display: flex;
			flex-direction: column;
			gap: 16px;

			li {
				cursor: pointer;
				width: max-content;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		ul+ul {
			padding-top: 48px;
		}

		ul+div {
			padding-top: 56px;
			display: flex;
			justify-content: center;
			gap: 9px;

			img {
				display: block;
				width: 28px;
				cursor: pointer;
			}
		}
		
	}
	
}

@media screen and (min-width: 1366px) {
	nav {
		padding-top: 73px;
		padding-left: 80px;
		padding-right: 80px;

		img {
			width: 176px;
			height: 52px;
		}

		ul {
			gap: 57px;
			font-size: 16px;
		}
	}

	#sect1 {
		padding-top: 75px;
		background-image: url(images/bg-curvy-desktop.svg);

		img {
			display: block;
			width: 720px;
			height: 534px;
		}

		h1 {
			padding-top: 36px;
			font-size: 40px;
			line-height: 60px;
			width: 734px;
		}

		p {
			padding-top: 32px;
			width: 589px;
			font-size: 20px;
			line-height: 30px;
		}

		button {
			padding: 18px 95px;
			font-size: 16px;
			line-height: 19px;
			background: linear-gradient(138.1deg, @cyan -49.34%, @blue 100%);
			box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
			border-radius: 28px;

			&:hover {
				background: #8ADAE3;
			}
		}
	}

	#sect2{
		width: 880px;
		position: relative;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: 78px;
		padding-top: 158px;
		padding-left: initial;
		padding-right: initial;

		div:nth-child(1) {width: 349px;}
		div:nth-child(2) {width: 384px;}
		div:nth-child(3) {width: 363px;}
		div:nth-child(4) {width: 363px;}

		div {
			.imgContainer {
				width: 104px;
				height: 104px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			

			h3 {
				font-size: 20px;
				line-height: 23px;
				padding-top: 16px;
			}

			p {
				width: initial;
			}
		}
	}

	#sect3 {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-top: 137px;
		gap: 57px;

		img {
			width: 614px;
		}

		div {
			width: 563px;

			h3 {
				padding-top: initial;
				font-size: 40px;
				line-height: 50px;
				width: 350px;
				text-align: left;
			}

			p {
				font-size: 16px;
				line-height: 24px;
				width: initial;
				text-align: left;
			}

			span {

				a {
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
	}

	#sect4 {
		flex-direction: row;
		justify-content: center;
		padding-top: 179px;
		gap: 40px;

		.reviewCard {
				width: 360px;
				background: @testimonialsBackground;
				box-shadow: 5px 5px 8px 4px rgba(56, 56, 56, 0.0991282);
				border-radius: 3.93258px;
				padding-top: 40px;
				padding-left: 26px;
				padding-right: 25px;
				padding-bottom: 26px;

				p {
					font-size: 14px;
					line-height: 21px;
					letter-spacing: 0.5px;
				}
		}
	}

	#sect5 {
		top: -159px;

		.card {
			width: 863px;
			height: max-content;
			align-items: center;
			padding-top: 42px;
			padding-bottom: 41px;
			padding-left: 77px;
			padding-right: 77px;

			b {
				font-size: 32px;
				line-height: 48px;
			}

			p {
				font-size: 14px;
				line-height: 21px;
				width: 673px;
			}

			div {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 29px;
				padding-top: 38px;

				input {
					width: 480px;
					height: 48px;
					margin-top: initial;
					font-size: 12px;
					line-height: 16px;
				}
			
				button {
					width: 200px;
					min-height: 48px;
					margin-top: initial;
					background: linear-gradient(129.57deg, @cyan -26.63%, @blue 100%);
					box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
				}
			}
		}
	}

	footer {
		padding-top: 169px;
		padding-left: 120px;
		padding-right: 81px;
		padding-bottom: 53px;
	
		.footerContent {
			flex-direction: row;
			justify-content: space-between;


			div:nth-child(1) {
				width: 379px;
				padding-top: 52px;
				
			}

			div:nth-child(2) {
				padding-top: 52px;
			}

			div:last-child {
				padding-top: 52px;
				align-items: center;
				height: max-content;
			}

			ul {
				padding-top: 52px;
			}

			ul + ul {
				padding-top: 52px;
			}
		}
	}
}

@media screen and (min-width: 1440px) {
	body {
		display: flex;
		flex-direction: column;
		// align-items: center;
		// background-color: @mainBackground;
	}
	nav {
		width: 1440px;
		align-self: center;
	}
	// main {
	// 	width: 1440px;
	// }

	footer {
		.container {
			width: 1440px;
		}
	}
}